/* top level */
.body{
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0
}
/* grid */
.app-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
        "header header header header header"
        "sidebar main main main main"
        "sidebar main main main main"
        "sidebar main main main main"
        "footer footer footer footer footer";
    width: 100vh;
    height: 100vh;
}

.header-div{
    grid-area: header
}

.sidebar-div{
    grid-area: sidebar
}

.main-div{
    grid-area: main;
}

.footer-div{
    grid-area: footer;
}

/* navbar */

.navbar{
    color: black;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 150px
}
