/* top level */
.body{
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0
}
/* grid */
.app-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
        "header header header header header"
        "sidebar main main main main"
        "sidebar main main main main"
        "sidebar main main main main"
        "footer footer footer footer footer";

    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

.header-div{
    grid-area: header;
    width: 100%;
    height: 100%
}

.sidebar-div{
    grid-area: sidebar
}

.main-div{
    grid-area: main;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: baseline;
    width: 100%;
    height: 100%;
}

.footer-div{
    grid-area: footer;
}

/* navbar */

.navbar{
    color: black;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 130px;
    cursor: pointer;  
}

/* sidebar */
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-img{
    filter: invert(22%) sepia(89%) saturate(5724%) hue-rotate(226deg) brightness(99%) contrast(90%);
    height: 65px;
    margin-bottom: 20px;
    cursor: pointer;   
}
.portfolio-img{
    filter: invert(22%) sepia(89%) saturate(5724%) hue-rotate(226deg) brightness(99%) contrast(90%);
    height: 50px;
    margin-bottom: 20px;
    cursor: pointer;  
}

.price-list-img{
    filter: invert(22%) sepia(89%) saturate(5724%) hue-rotate(226deg) brightness(99%) contrast(90%);
    height: 60px;
    cursor: pointer;  
}
/*main-dispaly*/
.main-display{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 20px;
}
/* forms */

.form{
    border: #1652F0;
    border-radius: 6px;
    border-width: 2px;
    width: 300px;
    background-color: var(--WHITE);
    color: var(--GREY_TEXT_LABELS);
    text-align: left;
    font-size: 15px;
    padding: 40px;
    box-shadow: 1px 1px 20px 1px var(--GREY_GRID);
}

/* modals*/

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
  }
  
  .modal-content {
    position: absolute;
    background-color: transparent;
  }
  /*prices*/
  .prices-table{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;

  }
  /* misc */

  .coin-logo{
      width: 20px;
  }
